@media only screen and (max-width : 320px) {
	#nonMobile{
		display: none;	
	}
	body{
		
	}
}
@media only screen and (min-width : 321px) {
	#mobile{
		display: none;
	}
	body{
		background-color: red;
	}
}
#mobile{
	width: 320px;
}
h1,h2, h3, h4, h5, p, a{
	color: #000;
	text-align: center;
	font-family: avenir, helvetica;
	text-decoration: none;
}
h1{
	margin: 0.5em 0 0.5em 0;
}
p{
	text-align: left;
}
.normalText{
	text-align: left;
	margin: 1em;
}
body{
	padding: 0;
	margin: 0;
}
img.map{
	width: 90%;
	margin: 5%;
}
img.locate{
	position: absolute;
	top: 4.8em;
	right: 7%;
	width: 10%;
}
img.pose{
	width: 70%;
	margin: 0 15%;
}
a.button{
	background-color:#ededed;
	border-radius: 1px;
	text-indent:0;
	border-top: 1px solid transparent;
 	border-bottom: 1px solid gray;
	display:inline-block;
	color:#000;
	font-size:1.4em;
	font-weight:bold;
	font-style:normal;
	line-height:120px;
	width: 150px;
	height:80px;
	margin: 5px 0px 0 5px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	&:hover{
		background-color:#dfdfdf;
	}
	&:active{
		border-top: 1px solid #EDEDED;
		border-bottom: 1px solid transparent;
 		position: relative; 
	}
	.icon{
		display: block;
		width: 45px;
		height: auto;
		margin: 1px 52.5px; 
	}
}
a.button.help{
	margin: 1% 85px 0 85px;
}
.linkList{
	width:100%;
	display: inline-block;
	padding:  0.5em 1em;
	margin: 0;
	text-align: left;
		font: {
			size: 1.3em;
	}
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	border-bottom: 1px #FFF solid;
}
.icon{
	position: absolute;
	height: 2em;
	margin: 0 .5em;
}
.home{
	right: 0px;
}
.do, .dont{
	margin: 0;
	text-align: left;
	padding: 1em 0 1em 3.3em;
	background-repeat: no-repeat;
	background-position: 5% center;
}
.dont{
	background-color: lighten(red, 10%);
	border: 1px solid darken(lighten(red, 10%), 20%);
	background-image: url(../icons/dont.svg);
}
.do{
	$color: #179b00;
	background-color: lighten($color, 30%);
	border: 1px solid darken(lighten($color, 30%), 20%);
	background-image: url(../icons/do.svg);

}
.dropDownButton{
	margin: 0.5em;
	float: right;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid black;
}
.additionalInfo{
	margin: 0.5em 1em;
	text-align: left;
	display: none;
}
.info1{
	margin-bottom: 6em;
}
.tipstext{
	padding: 0 0.5em ;
}
footer{
	padding: 0.3em;
	position: fixed;
	bottom: 0px;
	height: 4.8em;
	width: 100%;
	background-color:#ededed;
	border-top: solid 1px darken(#ededed, 20%);
	.footerButton{
		text-align: center;
		img{
			height: 3em;
		}
		display: inline-block;
		width: 32%;
		p{
			margin: 0;
			bottom: 3em;

		}
		border-radius: 3px;
		margin-top: 0;
	}
	.active{
		background-color: lighten(#ededed, 4%);
	}
}